<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <context:property-placeholder location="classpath:/client.properties" />

    <context:component-scan base-package="com.ohadr.*" />

    <context:annotation-config />

    <!--  <mvc:default-servlet-handler />

    <mvc:annotation-driven/>
 -->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>


	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
	</bean>

    <!-- data-source - ->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.jamonapi.proxy.JAMonDriver"/>
        <property name="jdbcUrl"
                  value="jdbc:jamon:mysql://${com.ohadr.oauth2.db.host}:${com.ohadr.oauth2.db.port}/${com.ohadr.oauth2.db.schema}?jamonrealdriver=org.gjt.mm.mysql.Driver;useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="user" value="${com.ohadr.oauth2.db.username}"/>
        <property name="password" value="${com.ohadr.oauth2.db.password}"/>
        <property name="acquireIncrement" value="1"/>
        <property name="idleConnectionTestPeriod" value="100"/>
        <property name="maxPoolSize" value="10"/>
        <property name="maxStatements" value="5"/>
        <property name="minPoolSize" value="5"/>
    </bean>
-->

</beans>
